* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

.App {
  /* padding: 20px 50px 50px 50px; */
  background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/assets/img/header-bg.jpg');
  background-size: cover;}

header {
  width: 100vw;
  align-items: center;
  position: fixed;
}

.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;}

.nav-list-item, .mobile-nav-list-item{
  padding: 16px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  justify-content: right;}

.nav-list-item:hover {
  color: rgb(255, 208, 0);}

.logo {
  position: relative;
  align-items: center;
  margin-left: 50px;
}

.logo-img {
  padding-top: 5px;
  margin-left: 50px;
  height: 30px;}

.hamburger {
  background-color: rgb(255, 208, 0);
  height: 50px;
  margin: 5px 100px 10px 10px;}

.mobile-nav-list {
  position: absolute;
  /* top: 5vh;
  right: -100vw; */
  top: -100vw;
  left: 0vw;
  background-color: rgb(32, 33, 34);
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
  height: 50vh;
  width: 100vw;
  overflow: hidden;
  transition: ease-in-out 1000ms;
  color: white;
  display: none;
  font-size: 14pt;}

.mobile-nav-list-item {
  padding: 5px;}

.mobile-nav-list-open {
  top:0px;}

.hero-text h1{
  font-size:82px;
  color: white;
  text-align: center;
  padding: 100px;}

.welcome {
  font-size: 28px;
  font-style: italic;
  font-family: "droid-serif";}

.greeting {
  font-size: 50pt;}

.more-box {
  background-color: rgb(255, 208, 0);
  color: white;
  padding: 30px 50px;
  border-radius: 10px;
  text-decoration: none;}

.button {
  text-align: center;}

.mobile-nav-list {
  display: flex;}

/* ////Media Queries////*/

@media (max-width: 991px) {
  .header {
    background-color: rgb(32, 33, 34);
  }
  .nav {
    display: none;
  }
  .mobile-nav-list {
    display: flex;
    margin-top: 60px;
    overflow: none;
  }
}

@media (min-width: 990px) {
  .hamburger {
    display: none;
  }
  .mobile-nav-list {
    display: none;
  }
  .logo-img {
    margin-top: 17px;
  }
}

/* .hamburger {
  display: inline-block;
} */
